html, body {
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 5% auto;
}
.grid-container { 
  text-align: center;
  display: grid;
  width: 30%;
  height: 40%;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  border: 1px solid black;
  border-collapse: collapse;
  list-style-type: none;
  padding: 0;
}

#input {
  grid-column: 1 / 5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

#eq-display {
  font-weight: normal;
}


